body, html {
  height: 100%;
  margin: 0;
}

.content {
  position: relative;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  height: 150%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%; 
}

.App-header {
  background-color: #2196F3;
  padding: 10px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  width: 90%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.App-logo {
  font-size: 24px; /* adjust size accordingly */
  font-weight: bold; /* makes the text bolder */
}

.intro-and-filter {
  display: flex;
  align-items: center;
}

.filter-button {
  margin-left: 600px; /* space between text and button */
}

.dropdown-buttons-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}


.dropdown-buttons-container button {
  margin: 0 10px; 
}



.score-calculation-instructions {
  margin: 20px;
  padding: 10px;
 
}



.repo-list {
  margin: 40px auto;
  padding: 10px;
  /*align-items: start;*/
  width: 70%;  /* Adjust the width as required */
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.repo-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 30px;
}

.repo-label {
  width: 150px; /* Adjust this to the width you need */
  margin-right: 20px; /* Or any spacing you prefer */
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  margin-right: 20px;
} 

.progress-bar {
  background: #E0E0E0;
  width: 70%;
  height: 20px;
  margin-right: 60px;

}

.progress {
  background: #2196F3;
  height: 20px;
  width: 50%; /* You can adjust this based on the actual progress */
}

.timeline-button-container {
  display: flex;
  justify-content: center;
  padding: 20px 0; /* Adjust padding as needed */
}

.timeline-btn:hover {
  background-color: #187ABD;
}

.footer {
  background-color: #2196F3;
  /*padding: 40px 20px;*/
  text-align: center;
  color: white;
  /*min-height: 50px;*/
  flex-shrink:0;
}

button {
  padding: 8px 16px; /* Added padding to button */
  border: none; /* Remove border */
  background-color: #2196F3; /* Set a background color */
  color: white; /* Text color */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Hand cursor on hover */
  transition: background-color 0.3s; /* Transition for hover effect */
}

button:hover {
  background-color: #0077CC; /* Slightly darker background on hover */
}


