
  
  .main-content {
    padding: 2rem;
    flex-grow: 1;
  }
  
  .explanation-section {
    background-color: #fff; /* Use a background color that matches the design */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to match the design */
    margin-bottom: 1rem;
    /* Add more styles to match the design */
  }
  .chart-caption {
    
    text-align: center;
    
    margin-top: 10px;
    font-style: italic;
  }

  