/*.score-explanation-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Arial', sans-serif; 
    color: #333; 
  }
  
  /*.app-header {
    background-color: #2196f3; /* Match the header background color 
    padding: 1rem;
    color: white;
    display: flex;
    align-items: center;
    /* Add other header styles such as box-shadow if needed 
  }*/
  
  .main-content {
    padding: 2rem;
    flex-grow: 1;
  }
  
  .explanation-section {
    background-color: #fff; /* Use a background color that matches the design */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to match the design */
    margin-bottom: 1rem;
    /* Add more styles to match the design */
  }
  
  .app-footer {
    background-color: #f5f5f5; /* Match the footer background color */
    padding: 1rem;
    text-align: center;
    /* Add other footer styles if necessary */
  }
  