
.timeline-container {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    
    display: flex;
    flex-direction: column;
    
  }
  
  .timeline-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }
  

  
  .timeline-title-section p {
    font-size: 16px;
    color: #0a0b0b;
  }
  
  .filter-button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .timeline-chart {
    width: 100%;
    max-width: 600px;
    margin: 30px 0;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    align-self: center;
  }
  
  .footer {
    background-color: #2196F3;
    /*padding: 40px 20px;*/
    text-align: center;
    color: white;
    /*min-height: 50px;*/
    
    bottom: 0;
    width: 100%;
  }
  
  .contact-button {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .logo-placeholder {
    font-size: 16px;
    font-weight: bold;
    color: #2c3e50;
  }
  